{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block MMM %}
<div class="welcome-message">
    University of Basra
    <br> College of Engineering
    <br>Department of Electrical Engineering
    <br>Design of Smart Parking System
    <br> Supervised by
    Prof. Dr. Ali Fadhil Marhoon
    <br> And The Students
    <br>Ayoub Madhi Abdul-Razzaq
    <br> Haider Ahmed Saleh
    <br> اهلا وسهلاً بكم في المشروع الهندسي للمرحلة الرابعة في كلية الهنسة قسم الهندسة الكهربائية هذا المشروع هو عبارة عن موقف سيارات ذكي يعمل عبر شبكة الانترنت حيث سوف يوفر للسائقين وقت اقل للبحث عن موقف وبنفس الوقت انه يساعد على تقليل انعاث الغاز من السيارات وبالتالي يساعد على تقليل التلوث البيئي ولو بنسبة قليلة وايضا يوفر نظام حجز موقف
    <br>Welcome to the Fourth Year Engineering Project in the Electrical Engineering Department. This project is a smart parking system that operates via the internet. It will save drivers time searching for a parking spot and help reduce car emissions, thus contributing to environmental pollution reduction, even if only by a small percentage.
</div>
{% endblock %}

{% block content %}
<!-- المحتوى الخاص بصفحة الرئيسية هنا -->
{% endblock %}
